/* application css */
body {margin:0px;background:#333333;}
#root {font-size:125%;}
.hl0 {color:red;}

.notelink {font-size:0.6em;cursor:pointer;
	top:1.1em;color:lightblue;position:absolute;
}

.link {border-bottom:solid 1px lightblue;cursor:pointer;}

.note {font-size:0.8em;cursor:pointer;
	top:-1.1em;color:yellow;position:absolute;}
.ptr {font-size:0.8em;cursor:pointer;
	top:-1.1em;color:lightgreen;position:absolute;}

.def {font-size:0.7em;cursor:pointer;
	top:-1.4em;color:lightgreen;position:absolute;}

.mui-tabs__bar>li>a{
	line-height: 1.4em;  /*pass as topMargin down to muitab, see index.js*/
	height:1.4em;
	color:silver; /*look nicer on ambiance mode*/
}
.mui-dropdown__menu>li>a{
	line-height: 1.4em;  /*pass as topMargin down to muitab, see index.js*/
	height:1.4em;
	font-weight: 700;
	color:black; /*look nicer on ambiance mode*/
}
.mui-dropdown__menu>li>a:hover{
	color:blue; /*look nicer on ambiance mode*/
}